@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.leaderboard {
    padding: 16px;
    margin-top: 64px;

    @include tablet {
        padding: 0;
        padding-top: 0px;
        margin-top: 32px;
        width: 100%;

    }

    &__heading {
        text-align: left;
        font-weight: 700;
    }

    &__headings {
        display: flex;
        border: 1px solid $leaderboard-gray;
        border-radius: 4px 4px 0 0;

        &--index {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            width: 100px;
            border-right: 1px solid $leaderboard-gray;
        }

        &--username {
            flex: 1;
            text-align: left;
            padding-left: 16px;
        }
        &--score {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            margin: 0;
            border-right: 1px solid $leaderboard-gray;
        }
    }

    &__scores {
        width: 100%;
    }

    &__name {
        text-transform: capitalize;

        @include tablet {
            width: 400px;
            text-align: left;
        }
    }


}


.score {
    display: flex;
    border: 1px solid rgb(48, 47, 47);
    flex: 1;
    font-size: 1.1rem;
    width: 100%;

    @include tablet {
        width: 400px;
    }


    &__index {
        width: 100px;
        background-color: rgb(57, 6, 55);
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $leaderboard-gray;

        &--heading {
            font-weight: 700;
            background-color: black;
        }

        &--gold {
            background-color: gold;
            color: black;
        }

        &--silver {
            background-color: silver;
            color: black;
        }

        &--bronze {
            background-color: #cd7f32;
            color: black;
        }

        &--current {
            background-color: white;
            color: black
        }
    }
    
    &__score {
        width: 100px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 16px;
        border-right: 1px solid rgb(77, 74, 74);
        font-size: 1.1rem;
        font-weight: 500;


        &--current {
            background-color: white;
            color: black;
        }

        &--heading {
            font-weight: 700;
        }
    }

    &__username {
        flex: 1;
        margin: 0;
        text-align: left;
        padding: 8px 16px;
        font-weight: 500;

        &--current {
            background-color: white;
            color: black;
        }
        
        &--heading {
            font-weight: 700;
        }
    }
}