@use "../../styles/partials/mixins" as *;

.instructions {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        font-size: 1.5rem;
    }

    &__list {
        padding-left: 24px;

        @include tablet {
            max-width: 300px;
        }
    }

    &__list-item {
        text-align: left;
        margin-top: 16px;
        font-size: 1rem;

        @include tablet {
            text-align: center;
            line-height: 1.5;
        }
    }


    &__button {
        @include button--secondary;
        margin-top: 32px;
    }
}