@use "../../styles/partials/mixins" as *;

.playlist {
    width: 47%;

    @include tablet {
        width: auto;
    }

    @include desktop {
        width: 15%;
    }


    &__link {
        text-decoration: none;
    }


    &__image {
        max-width: 100%;

        @include tablet {

            max-width: 200px;
        }
    }

    &__name {

        @include tablet {
            max-width: 200px;
        }
        
    }
}