@use "../../styles/partials/mixins" as *;

.playlist {

    &__link {
        text-decoration: none;
    }


    &__image {
        max-width: 200px;
    }

    &__name {

        @include tablet {
            max-width: 200px;
        }
        
    }
}