@use "../../styles/partials/mixins" as *;

.signup {

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

    }

    &__label {

    }

    &__username {
        @include input;
    }

    &__email {
        @include input;
    }
    
    &__password {
        @include input;
    }

    &__button {
        @include button--primary;
    }
}